<app-menu></app-menu>

    <div class="header">      
      <span class="pagetitle">Lines</span> | 
      <span *ngIf="request" class="actiondetail">
        <a routerLink="/requests/edit/{{request.id}}">Edit Request</a>
      </span> |
      <span class="createlink">
        <a routerLink="/request/list">Back to request list</a>
      </span>
    </div>
    <main class="component" *ngIf="request">
    <table class="table table-sm">
      <tr class="tableheader">
        <td>Id</td>
        <td>Description</td>
        <td>Status</td>
        <td>Total</td>
        <td>User</td>
      </tr>
      <tr>
        <td>{{request.id}}</td>
        <td>{{request.description}}</td>
        <td>{{request.status}}</td>
        <td>{{request.total | currency}}</td>
        <td *ngIf="request.user">{{request.user.username}}</td>
        <td>
          <button (click)="review()" class="btn btn-warning">Review</button>
        </td>
      </tr>
    </table>
  </main>
<div>
<div *ngIf="request">
  <table class="table table-sm">
    <thead>

    
    <tr>
      <td>Product Id</td>
      <td>Product</td>
      <td>Quantity</td>
      <td>Price</td>
      <td>Line Total</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody *ngIf="request.requestLines">
    <tr *ngFor="let rl of request.requestLines">     
      <td>{{rl.product.id}}</td> 
      <td>{{rl.product.name}}</td>
      <td>{{rl.quantity}}</td>
      <td>{{rl.product.price}}</td>

      <td>{{+rl.product.price * rl.quantity | currency}}</td>


      <td>
        <span class="actiondetail">
          <button (click)="updateline(rl)" class="btn btn-primary btn-sm">Edit</button> | 
          <button (click)="deleteline(rl)" class="btn btn-danger btn-sm">Delete</button>
        </span>
      </td>
    </tr>
  </tbody>
  </table>
  
  <div>
    <p>
      <span class="tableheader">Total: </span><span>{{request.total | currency}}</span>
    </p>
   
    <button class="btn btn-primary btn-sm" (click)="goRlCreate(request)" style="color:white">New Line</button> | 
    <button (click)="save()" class="btn btn-success btn-sm">Submit Request</button>
  </div>
  <button (click)="toReviews()" class="btn btn-success btn-sm">Review Requests</button>
</div>