<app-menu></app-menu>
<div>
    <span id="pageTitle">Request Create</span>
    <table *ngIf="request" class="table table-sm">
        <tr>
            <th>Id:</th>
            <td>
                <input [(ngModel)]="request.id"type="number" readonly>
            </td>
        </tr>
        <tr>
            <th>Description:</th>
            <td>
                <input [(ngModel)]="request.description"type="text">
            </td>
        </tr>
        <tr>
            <th>Justification:</th>
            <td>
                <input [(ngModel)]="request.justification"type="text">
            </td>
        </tr>
        <tr>
            <th>Delivery Mode:</th>
            <td>
                <input [(ngModel)]="request.deliveryMode"type="text">
            </td>
        </tr>
        <tr>
            <th>Status:</th>
            <td>
                <input [(ngModel)]="request.status"type="text" disabled="true">
            </td>
        </tr>
        <tr>
            <th>Total:</th>
            <td>
                <input [(ngModel)]="request.total"type="text" disabled = "true">
            </td>
        </tr>
        
        <!-- <tr>
            <td>
                <select [(ngModel)]="request.userId">
                    <option *ngFor="let u of users" value="{{u.id}}">{{u.username}}</option>
                </select>
            </td>
        </tr> -->
    </table>
    <div>
        <button (click)="save()" class="btn btn-primary">Create</button>
        
    </div>
</div>