<app-menu></app-menu>>
<table class="table table.sm">
    <tr>
      <td>Product:</td>
      <td>
        <select [(ngModel)]="requestline.productId" type="number">              
          <option *ngFor="let product of products" [ngValue]="product.id">
            {{product.name}} | {{product.price | currency}}
          </option>
        </select>            
      </td>
    </tr>
    <tr>
      <td>Quantity:</td>
      <td><input [(ngModel)]="requestline.quantity" type="number"></td>
    </tr>
  </table>
<button (click)="save()" class="btn btn-primary btn-sm">Save</button>